doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='http://code.jquery.com/jquery-latest.min.js')
      script(src='/javascripts/socket.io.js')
      script(src='/javascripts/main.js')
      script
       var ip="#{ipAddress}"
  body
    block content