doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='http://code.jquery.com/jquery-latest.min.js')
      script(src='/js/socket.io.js')
      script(src='/js/main.js')
  body
    block content