extends layout

block content
  h1= title
  p 
   span(id='numConnections') #{numConnections}
   span  RPi are connected on #{ipAddress}
  br
  h4 Actions
  input(id="playButton",type="button",value="Play video")
  input(id="updateUserNumButton",type="button",value="Update user num")
  h3 Logs
  p(id='logs')
