extends layout

block content
  h1= title
  p 
   span(id='numConnections') #{numConnections}
   span  RPi are connected on #{ipAddress}.
  br
  input(id="playButton",type="button",value="Play video")
  h3 Logs
  p(id='logs')
