extends layout

block content
  h1= title
  h4 RPi connected: 
   span(id="numConnected") 0
  div(class="data")
   p(id="userList")
  h4 Actions
  div(class="data")
   input(id="playButton",type="button",value="Play video")
   br 
   input(id="stopButton",type="button",value="Stop video")
   br 
   input(id="updateUserNumButton",type="button",value="Update user num")
  h3 Logs
  div(class="data")
   p(id='logs')
